# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# TernJS port file
.tern-port

# hardhat files
artifacts
allowances
deployments
cache
*.txt

.DS_Store
yarn.lock
